/* Choose the actual colours */
$primary: #f5c966;
$secondary: #418997;
$lightteal: #cbe6e6;
$black: #444;
$darkgrey: #555;
$white: #fff;
$grey: #a3a3a3;
$lightgrey: #f5f8fa;

/* Assign colours to generic roles */
$colour-bg: $lightteal;
$colour-copy: $black;
$colour-header: $secondary;
$colour-meta: $grey;
$colour-accent: $primary;
$colour-link: $secondary;
$colour-code: $lightgrey;

/* Implement the roles: see other .scss files */
