//$max-width: 48rem; /* = 1280px */

body { /* Acts as wrapper */
    margin: 0 auto;
    max-width: $large-max-width;
}

header#masthead {
  text-align: center;
  margin-bottom: 5rem;
  h1 {
    margin-top: 0;
    margin-bottom: 1rem;
    a:hover,
    a:focus {
      text-decoration: none;
    }
  }
  img {
    width: 7.5rem;
    margin: 1rem auto 0;
  }
}

article {
  border-bottom: 1px dotted $primary;
  header, footer {
    text-align:center;
  }
  footer {
    display: block;
    address {
      /* Not in use! */
      display: block;
      margin-bottom: 0.5em;
    }
  }
  img {
	max-width: 90%;
	/* Centre align: */
	display: block;
	margin: {
		left: auto;
		right: auto
	}
  }
}

nav {
  text-align: center;
  margin-bottom: 4rem;
  ul {
    list-style-type: none;
    margin: 2rem 0 0;
  }
  li {
    display: inline-block;
    margin: 0 .75em;
  }
}

main {
  article:last-of-type {
    margin-bottom: 2.5rem;
  }
  article#singlepost {
    padding-bottom: 1rem;
  }
}

footer#footer {
  display: block;
  text-align: center;
  margin-bottom: 2rem;
  img {
    width: 3.75rem;
    display: block;
    margin: 0 auto 2rem auto;
  }
}
