<nav>
  <ul>
    {{ range .Site.Menus.main }}
      <li><a href="{{ .URL }}">{{ .Name }}</a></li>
    {{ end }}
    {{ $fa := .Site.Params.fontawesome }}
    {{ with .Site.Social.facebook }}<li>
      <a href="https://facebook.com/{{ . }}">
        {{ if $fa }}<i class="fa fa-facebook"></i>
        {{ else }} Facebook {{ end }}
      </a>
    </li>{{ end }}
    {{ with .Site.Social.github }}<li>
      <a href="https://github.com/{{ . }}">
        {{ if $fa }}<i class="fa fa-github"></i>
        {{ else }} GitHub {{ end }}
      </a>
    </li>{{ end }}
    {{ with .Site.Social.linkedin }}<li>
      <a href="https://linkedin.com/in/{{ . }}">
        {{ if $fa }}<i class="fa fa-linkedin"></i>
        {{ else }} LinkedIn {{ end }}
      </a>
    </li>{{ end }}
    {{ with .Site.Social.bluesky }}<li>
      <a href="https://bsky.app/profile/{{ . }}">
        {{ if $fa }}<i class="fa-brands fa-bluesky"></i>
        {{ else }} Bluesky {{ end }}
      </a>
    </li>{{ end }}
  </ul>
</nav>
